{% load static %}

<section class="categories_sec">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="main-img-3">
                    <div class="trapezoid-5">
                        <div class="main-inner">
                            <h4 class="defualt-color">Travel</h4>
                            <h2>The complete guide for travelers in London</h2>
                            <h6>by MARIE NGUYEN / DECEMBER 13, 2016</h6>
                        </div>
                    </div>
                    <span><a href="{% static '' %}video-post.html"><i class="fas fa-play-circle"></i></a></span>
                </div>
            </div>
        </div>
    </div>
</section>